<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This is 284km's diary.">
    <title>Drafts<%= ' - ' + current_article.title unless current_article.nil? %></title>
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.2.1/css/foundation.min.css">
    <link href="http://coderwall.com/stylesheets/jquery.coderwall.css" media="all" rel="stylesheet" type="text/css"></link>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
  </head>
  <body>

    <!-- Nav Bar -->
    <div class="row">
      <div class="large-12 columns">
        <div class="nav-bar right">
          <ul class="button-group">
            <li><a href="http://zombieness.net:5000/chat" class="button">Chat</a></li>
            <li><a href="#" class="button">Memo</a></li>
          </ul>
        </div>
        <h1>Drafts <small>as my diary.</small></h1>
        <hr>
      </div>
    </div>
    <!-- End Nav -->

    <!-- Main Page Content and Sidebar -->
    <div class="row">

      <!-- Main Blog Content -->
      <div id="main" class="large-9 columns" role="main">
        <%= yield %>
      </div>
      <!-- End Main Content -->

      <!-- Sidebar -->
      <aside class="large-3 columns">

      <h4>Recent Entries</h4>
      <ul>
        <% blog.articles[0...10].each do |article| %>
          <li><%= link_to article.title, article %> <span><%= article.date.strftime('%b %d') %></span></li>
        <% end %>
      </ul>

      <a class="twitter-timeline" href="https://twitter.com/284km" data-widget-id="458815336611999744">@284km からのツイート</a>

      <h4>Categories</h4>
      <ul>
        <% blog.tags.each do |tag, articles| %>
          <li><%= link_to tag, tag_path(tag) %> (<%= articles.size %>)</a></li>
        <% end %>
      </ul>
      <h4>By Year</h4>
      <ul>
        <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
          <li><%= link_to year, blog_year_path(year) %> (<%= articles.size %>)</a></li>
        <% end %>
      </ul>

      <div class="panel">
        <h5>Featured</h5>
        <p> - The status of my iOS app is "Waiting For Review" now.</p>
      </div>

      <section class="coderwall" data-coderwall-username="284km" data-coderwall-orientation="horizontal"></section>

      </aside>
      <!-- End Sidebar -->

    </div>
    <!-- End Main Content and Sidebar -->

    <!-- Footer -->
    <footer class="row">
    <div class="large-12 columns">
      <hr>
      <div class="row">
        <div class="large-6 columns">
          <p>Kazuma Furuhashi @284km</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="http://zombieness.net:5000/chat" class="button">Chat</a></li>
            <li><a href="#" class="button">Memo</a></li>
          </ul>
        </div>
      </div>
    </div>
    </footer>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.2.1/js/foundation.min.js"></script>
    <script src="http://coderwall.com/javascripts/jquery.coderwall.js">
    <script>
      $(document).foundation();
      var doc = document.documentElement;
      doc.setAttribute('data-useragent', navigator.userAgent);
    </script>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

  </body>
</html>
